/.vscode
/benchmark
/dist
/public
/note
/source3.8.5_sx/
/source3.9.6_org/
/source3.9.6_sx/*
#!/source3.9.6_sx/elpa-2018.05.001     accepted by official patch 3.9.6
#/source3.9.6_sx/elpa-2018.05.001/*    accepted by official patch 3.9.6

#white list
!/source3.9.6_sx/readme*
!/source3.9.6_sx/Band_DFT_Col.c
#!/source3.9.6_sx/Band_DFT_NonCol.c     accepted by official patch 3.9.6
#!/source3.9.6_sx/Cluster_DFT_NonCol.c  accepted by official patch 3.9.6
!/source3.9.6_sx/FT_PAO.c
!/source3.9.6_sx/Force.c
!/source3.9.6_sx/Gaunt.h
!/source3.9.6_sx/Get_Cnt_dOrbitals.c
!/source3.9.6_sx/Poisson.c
!/source3.9.6_sx/Poisson_ESM.c
!/source3.9.6_sx/RF_BesselF.c
!/source3.9.6_sx/RadialF_nec.c
!/source3.9.6_sx/Set_Density_Grid.c
!/source3.9.6_sx/Set_Hamiltonian.c
!/source3.9.6_sx/Set_Nonlocal.c
!/source3.9.6_sx/Set_OLP_Kin.c
!/source3.9.6_sx/Set_Orbitals_Grid.c
!/source3.9.6_sx/Set_ProExpn_VNA.c
!/source3.9.6_sx/Set_XC_Grid.c
!/source3.9.6_sx/Spherical_Bessel.c
!/source3.9.6_sx/Stress.c
!/source3.9.6_sx/TRAN_CDen_Main.c
!/source3.9.6_sx/TRAN_Poisson.c
!/source3.9.6_sx/TRAN_Set_Electrode_Grid.c
!/source3.9.6_sx/makefile
!/source3.9.6_sx/openmx.c
!/source3.9.6_sx/openmx_common.c
!/source3.9.6_sx/truncation.c
#!/source3.9.6_sx/elpa-2018.05.001/elpa1_merge_systems_real_template.F90   accepted by official patch 3.9.6



